[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
toml = "*"

[dev-packages]
black = "*"
isort = "==5.10.1"
flake8 = "*"
flake8-black = "*"
flake8-docstrings = "==1.6.0"
flake8-isort = "==4.1.1"
mypy = "*"
types-toml = "*"

[requires]
python_version = "3.9"
